<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人债转平台-注册</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./js/rem.js"></script>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>
    <div id="app">
        <form class="login-form">
            <div class="login-input-out">
                <input v-model="" placeholder="请输入您将要绑定的银行卡的预留手机号">
            </div>
            <div class="login-input-out">
                <input v-model="" placeholder="请输入验证码">
                <span class="btn-getCode">获取验证码</span>
            </div>
            <button class="btn-login">下一步</button>
        </form>
    </div>
</body>
<script>
var app = new Vue({
    el: '#app',
    data: {

    }
});
</script>
</html>