.app {
    padding-top: 0.88rem;
}

.header {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    background-color: #fff
}

.noBorder {
    border: 0!important
}

.header-tit {
    position: relative;
    height: .88rem;
    line-height: .88rem;
    font-size: .32rem;
    text-align: center;
    color: #333;
    vertical-align: middle
}

.header-tit-text {
    display: inline-block;
    height: 100%;
    max-width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    line-height: .88rem
}

.location-back,.location-back-clear {
    position: absolute;
    left: .1rem;
    top: 0;
    height: 100%;
    width: .6rem
}

.location-back-icon {
    display: inline-block;
    height: .34rem;
    width: .2rem;
    vertical-align: middle;
    background: url(http://img.dafy.com/deposlend/common/back_new.png) no-repeat;
    background-size: cover
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.btn-sub {
    width: 6.02rem;
    height: 0.88rem;
    font-size: 0.32rem;
    color: #fff;
    background-image: linear-gradient(180deg, #00a4ff 4%, #20c6f7 100%);
    border-radius: 0.5rem;
}

.box, .center-box, .middle-box, .hrzbtw-box {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.hrzbtw-box {
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.center-box {
    justify-content: center;
    -webkit-justify-content: center;
}

.bgf4 {
    background: #f4f4f4;
}

.clearfix {
    *zoom: 1;
}
.clearfix::after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
